:root {
  --textwhite: white;
  --greyBackGround: #2C2C2C;
  --textgrey: #B3B3B3;
}

* {
 
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--greyBackGround);
  max-width: 100vw;
  // overflow: hidden;
}

