.Experience{
    flex-direction: column;
    display: flex;
    align-items: center;
    // h1 {
    //    font-weight: 600;
    //    font-size: 28px;
    //    line-height: 42px;
    //    color: var(--textwhite); 
    // }
    // h2 {
    //     font-weight: 400;
    //     font-size: 20px;
    //     line-height: 52px;
    //     color: var(--textgrey); 
    // }
    // @media( min-width: 768px) {
    //     flex-direction:row-reverse;
    //     align-items: center;
      
    //     h1{
    //         font-size: 36px;
    //         line-height: 54px;
    //     }
    //     h2{
    //         font-size: 30px;
    //         line-height: 45px;
    //         font-style: normal;
    //     }
    // }
}